:root {
  --background-sum: #ffffff;
  --two-background-sum: #f3f2ef;
  --frist-color-text-sum: #191919;
  --two-color-text-sum: rgb(51, 187, 178);
  --color-shadow-sum: #6bacec;
  --background-dark: #000000;
  --two-background-dark: #1d2226;
  --tree-background-dark: #474139;
  --frist-color-text-dark: #e9e9ea;
  --two-color-text-dark: rebeccapurple;
  --tree-color-text-dark: #6bacec;
  --color-shadow-dark: rebeccapurple;
  --color-hover-sum: rgba(13, 130, 122, 0.782);
  --color-hover-dark: rgba(88, 40, 136, 0.772);
  --font-Racing-special: "Racing Sans One", cursive;
  --font-Ceviche-special: "Ceviche One", cursive;
  --font-Roboto-all: "Roboto", sans-serif;
  --color-icons-whatsapp: #25d366;
  --color-icons-facebook: #3b5998;
  --color-icons-linkedin: #0e76a8;
  --color-icons-youtube: #b2071d;
  --javascript-color: #ffe32c;
  --sequelize-color: #4c71c1;
  --redux-color: rgba(30, 255, 0, 0.942);
  --react-color: #08ffe2;
  --react-hooks-color: #fb0c74;
  --posgreSQL-color: #08fded;
  --nodeJS-color: #fffb00;
  --css-color: #21e268;
  --html-color: rgb(255, 0, 0);
  --bootstrap-color: rgb(183, 8, 241);
  --sass-color: rgba(255, 0, 153, 0.863);
  --aprediendo-color: rgba(0, 255, 145, 0.754);
}

.theme-Sun {
  background: var(--background-sum);
  color: var(--frist-color-text-sum);
  font-weight: 600;
}
.theme-Sun .entrada .front {
  font-family: var(--font-Racing-special);
}
.theme-Sun .entrada .front2 {
  font-family: var(--font-Ceviche-special);
  color: var(--two-color-text-sum);
}
.theme-Sun .menu {
  background: var(--two-background-sum);
}
.theme-Sun .menu .logo {
  font-family: var(--font-Ceviche-special);
  color: var(--two-color-text-sum);
  cursor: pointer;
}
.theme-Sun .menu .logo .logoR {
  color: var(--two-color-text-dark);
}
.theme-Sun .menu .grup-list li a {
  font-family: var(--font-Roboto-all);
  color: var(--frist-color-text-sum);
}
.theme-Sun .container-card .card {
  width: 300px;
  height: 380px;
  display: flex;
  align-items: center;
  background: var(--two-background-sum);
}
.theme-Sun .container-card .card .boxImg {
  position: relative;
  top: -40px;
  width: 180px;
  height: 180px;
  background: rgb(15, 12, 12);
  box-shadow: 0 15px 50px var(--color-shadow-sum);
}
.theme-Sun .container-card .card .datos .titleName {
  font-family: var(--font-Ceviche-special);
  color: rebeccapurple;
}
.theme-Sun .container-card .card .datos .dato {
  color: var(--two-color-text-sum);
  font-weight: var(--font-Roboto-all);
}
.theme-Sun .container-card .card .datos .gitDatos {
  color: var(--frist-color-text-sum);
  opacity: 0.5;
  font-weight: 900 !important;
  font-size: 12px;
}
.theme-Sun .container-card .card .datos .grupoButton .btn {
  background: var(--two-background-dark);
}
.theme-Sun .container-card .card .datos .grupoButton .btn small {
  color: var(--frist-color-text-dark);
  font-family: var(--font-Roboto-all);
  font-size: 13px;
}
.theme-Sun .container-card .card .datos .grupoButton .btn .bi-whatsapp {
  color: var(--color-icons-whatsapp);
}
.theme-Sun .container-card .card .datos .grupoButton .btn:hover {
  background: var(--color-hover-sum);
}
.theme-Sun .footer .logo {
  color: var(--two-color-text-sum);
  font-family: var(--font-Ceviche-special);
}
.theme-Sun .footer .logo .logoR {
  color: var(--two-color-text-dark);
}
.theme-Sun .footer .parrafo {
  font-family: var(--font-Roboto-all);
  font-size: 12px;
  opacity: 0.5;
}
.theme-Sun .footer .gropoIcons {
  font-size: 20px;
}
.theme-Sun .footer .gropoIcons .bi-youtube {
  color: var(--color-icons-youtube);
  background: var(--background-sum);
  font-weight: 600;
  cursor: pointer;
}
.theme-Sun .footer .gropoIcons .bi-linkedin {
  color: var(--color-icons-linkedin);
  cursor: pointer;
}
.theme-Sun .footer .gropoIcons .bi-whatsapp {
  color: var(--color-icons-whatsapp);
  cursor: pointer;
}
.theme-Sun .footer .gropoIcons .bi-facebook {
  color: var(--color-icons-facebook);
  cursor: pointer;
}
.theme-Sun .footer .box-color-tec .bi-che --redux-colorck2 {
  color: var(--color-icons-whatsapp);
  font-size: 15px;
}
.theme-Sun .footer .box-color-tec .javaScript {
  background: var(--javascript-color);
}
.theme-Sun .footer .box-color-tec .sequelize {
  background: var(--sequelize-color);
}
.theme-Sun .footer .box-color-tec .redux {
  background: var(--redux-color);
}
.theme-Sun .footer .box-color-tec .react {
  background: var(--react-color);
}
.theme-Sun .footer .box-color-tec .react-hooks {
  background: var(--react-hooks-color);
}
.theme-Sun .footer .box-color-tec .posgreSQL {
  background: var(--posgreSQL-color);
}
.theme-Sun .footer .box-color-tec .nodeJs {
  background: var(--nodeJS-color);
}
.theme-Sun .footer .box-color-tec .css {
  background: var(--css-color);
}
.theme-Sun .footer .box-color-tec .html {
  background: var(--html-color);
}
.theme-Sun .footer .box-color-tec .bootstrap {
  background: var(--bootstrap-color);
}
.theme-Sun .footer .box-color-tec .sass {
  background: var(--sass-color);
}
.theme-Sun .footer .box-color-tec .apredis {
  color: var(--two-color-text-dark);
}
.theme-Sun .footer .box-color-tec .aprediendo {
  background: var(--aprediendo-color);
}
.theme-Sun .footer .box-color-tec .git {
  background: var(--redux-color);
}
.theme-Sun .footer .box-color-tec .bi-infinity {
  color: var(--tree-color-text-dark);
  font-size: 15px;
}
.theme-Sun .footer .title-tec {
  font-family: var(--font-Roboto-all);
  color: var(--two-color-text-sum);
  font-weight: 600;
}
.theme-Sun .footer .btn {
  background: var(--background-dark);
}
.theme-Sun .footer .btn small {
  color: var(--frist-color-text-dark);
  font-family: var(--font-Roboto-all);
  font-size: 13px;
}
.theme-Sun .footer .Arg {
  font-family: var(--font-Roboto-all);
  background: var(--two-background-sum);
}
.theme-Sun .footer .Arg i {
  color: rgba(255, 0, 0, 0.886);
}

.theme-Moon {
  background: var(--background-dark);
  color: var(--frist-color-text-dark);
  font-weight: 600;
}
.theme-Moon .entrada .front {
  font-family: var(--font-Racing-special);
}
.theme-Moon .entrada .front2 {
  font-family: var(--font-Ceviche-special);
  color: var(--two-color-text-dark);
}
.theme-Moon .menu {
  background: var(--two-background-dark);
}
.theme-Moon .menu .logo {
  font-family: var(--font-Ceviche-special);
  color: var(--two-color-text-dark);
  cursor: pointer;
}
.theme-Moon .menu .logo .logoR {
  color: var(--two-color-text-sum);
}
.theme-Moon .menu .grup-list li a {
  font-family: var(--font-Roboto-all);
  color: var(--frist-color-text-dark);
  background: var(--two-background-dark);
}
.theme-Moon .container-card .card {
  width: 300px;
  height: 380px;
  display: flex;
  align-items: center;
  background: var(--two-background-dark);
}
.theme-Moon .container-card .card .boxImg {
  position: relative;
  top: -40px;
  width: 180px;
  height: 180px;
  background: rgb(15, 12, 12);
  box-shadow: 0 15px 50px var(--color-shadow-dark);
}
.theme-Moon .container-card .card .datos .titleName {
  font-family: var(--font-Ceviche-special);
  color: rebeccapurple;
}
.theme-Moon .container-card .card .datos .dato {
  color: var(--two-color-text-sum);
  font-weight: var(--font-Roboto-all);
}
.theme-Moon .container-card .card .datos .gitDatos {
  color: var(--frist-color-text-dark);
  opacity: 0.5;
  font-weight: 900 !important;
  font-size: 12px;
}
.theme-Moon .container-card .card .datos .grupoButton .btn {
  background: var(--background-dark);
}
.theme-Moon .container-card .card .datos .grupoButton .btn small {
  color: var(--frist-color-text-dark);
  font-family: var(--font-Roboto-all);
  font-size: 13px;
}
.theme-Moon .container-card .card .datos .grupoButton .btn .bi-whatsapp {
  color: var(--color-icons-whatsapp);
}
.theme-Moon .container-card .card .datos .grupoButton .btn:hover {
  background: var(--color-hover-dark);
}
.theme-Moon .footer .logo {
  color: var(--two-color-text-sum);
  font-family: var(--font-Ceviche-special);
}
.theme-Moon .footer .logo .logoR {
  color: var(--two-color-text-dark);
}
.theme-Moon .footer .parrafo {
  font-family: var(--font-Roboto-all);
  font-size: 12px;
  opacity: 0.5;
}
.theme-Moon .footer .gropoIcons {
  font-size: 20px;
}
.theme-Moon .footer .gropoIcons .bi-youtube {
  color: var(--color-icons-youtube);
  background: var(--background-dark);
  font-weight: 600;
  cursor: pointer;
}
.theme-Moon .footer .gropoIcons .bi-linkedin {
  color: var(--color-icons-linkedin);
  cursor: pointer;
}
.theme-Moon .footer .gropoIcons .bi-whatsapp {
  color: var(--color-icons-whatsapp);
  cursor: pointer;
}
.theme-Moon .footer .gropoIcons .bi-facebook {
  color: var(--color-icons-facebook);
  cursor: pointer;
}
.theme-Moon .footer .box-color-tec .bi-che --redux-colorck2 {
  color: var(--color-icons-whatsapp);
  font-size: 15px;
}
.theme-Moon .footer .box-color-tec .javaScript {
  background: var(--javascript-color);
}
.theme-Moon .footer .box-color-tec .sequelize {
  background: var(--sequelize-color);
}
.theme-Moon .footer .box-color-tec .redux {
  background: var(--redux-color);
}
.theme-Moon .footer .box-color-tec .react {
  background: var(--react-color);
}
.theme-Moon .footer .box-color-tec .react-hooks {
  background: var(--react-hooks-color);
}
.theme-Moon .footer .box-color-tec .posgreSQL {
  background: var(--posgreSQL-color);
}
.theme-Moon .footer .box-color-tec .nodeJs {
  background: var(--nodeJS-color);
}
.theme-Moon .footer .box-color-tec .css {
  background: var(--css-color);
}
.theme-Moon .footer .box-color-tec .html {
  background: var(--html-color);
}
.theme-Moon .footer .box-color-tec .bootstrap {
  background: var(--bootstrap-color);
}
.theme-Moon .footer .box-color-tec .sass {
  background: var(--sass-color);
}
.theme-Moon .footer .box-color-tec .apredis {
  color: var(--two-color-text-dark);
}
.theme-Moon .footer .box-color-tec .aprediendo {
  background: var(--aprediendo-color);
}
.theme-Moon .footer .box-color-tec .git {
  background: var(--redux-color);
}
.theme-Moon .footer .box-color-tec .bi-infinity {
  color: var(--tree-color-text-dark);
  font-size: 15px;
}
.theme-Moon .footer .title-tec {
  font-family: var(--font-Roboto-all);
  color: var(--two-color-text-sum);
  font-weight: 600;
}
.theme-Moon .footer .btn {
  background: var(--background-dark);
}
.theme-Moon .footer .btn small {
  color: var(--frist-color-text-dark);
  font-family: var(--font-Roboto-all);
  font-size: 13px;
}
.theme-Moon .footer .Arg {
  font-family: var(--font-Roboto-all);
  background: var(--two-background-dark);
}
.theme-Moon .footer .Arg i {
  color: rgba(255, 0, 0, 0.886);
}/*# sourceMappingURL=App.css.map */