
.font-Racing { font-family: 'Racing Sans One', cursive};
.font-Ceviche {font-family: 'Ceviche One', cursive};
.font-Roboto { font-family: 'Roboto', sans-serif;
font-weight: 600

};
.theme-Sun{
    background:#ebe5e5;
    color:	#000;

}





.theme-Moon{
    background:#282828;
     color:	#fdfbff;

   
}



#toggle
{
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    border-radius: 160px;
    background: #222;
}