:root{
   --background-sum:#ffffff;
   --two-background-sum:#f3f2ef;
   --frist-color-text-sum : #191919;
   --two-color-text-sum : rgb(51, 187, 178);

   
   --background-dark:#000000;
   --two-background-dark:#1d2226;
   --tree-background-dark:#474139;
   --frist-color-text-dark:#e9e9ea;
   --two-color-text-dark :  rebeccapurple;
   --tree-color-text-dark : #6bacec;

   

   --font-Racing-special:'Racing Sans One', cursive;
   --font-Ceviche-special: 'Ceviche One', cursive;
   --font-Roboto-all:'Roboto', sans-serif;
}







// .card{
//        position: relative;
//        width: 310px;
//        height: 350px !important;
//        background: rgb(0, 0, 0);
//        border-radius: 20px;
//        box-shadow: 0 35px 80px(0, 0, 0 ,0.15);
    
//     .imgBox{
//        position: absolute;
//        top: -40px;
//        width: 150px;
//        height: 150px;
//        background: #fff;
//        border-radius: 20px;
//        box-shadow: 0 15px 50px rgba(0 ,0,0,0.35); 
//     }
//     img{
//         width: 150px;
//         height: 188px;  
//     }
//     .content{
//         position: absolute;
//         height: 100%;
//         width: 100%;
//         display: flex;
//         justify-content: center;
//         align-items: flex-end;
//     }
//     .details{
//         padding: 40px;
//         text-align: center;
//         width: 100%;
//         transition: 0.5s;
//     }
//     .name{
//         font-size: 1.25em;
//         font-weight: 600;
//         color: rgb(47, 45, 45);
//         line-height: 1.2em;
//     }
//     .web{ 
//         font-size: 0.75em;
//         opacity: 0.6;
//     }
//     .number{
//         font-size: 2.5em;
//     color: rgb(0, 0, 0);

//     }
//     .data{
//     display: flex;
//     justify-content: space-between;
//     margin: 8px 0;
//     font-size: 0.6em;
//     line-height: 1em;
    
            
//     }
//     .span-opa {
//         opacity: 0.5; 
//         font-weight: 400 !important;


//     }

// }




.theme-Sun{
    background:var(--background-sum);
    color:	var(--frist-color-text-sum);
    font-weight: 600;
    .entrada{
              .front{font-family: var( --font-Racing-special)}
              .front2 {
                font-family: var( --font-Ceviche-special);
                 color: var(--two-color-text-sum);}
            }

    .menu{
                background: var( --two-background-sum);
            .logo{
                 font-family:var(--font-Ceviche-special);
                 color: var(--two-color-text-sum);
                 cursor: pointer;
                 .logoR{color:var(--two-color-text-dark)
                    
                       }
                }
         }
    .container-card{

              .card{
                    background: var(--two-background-sum);
                   
                    .boxImg{
                        position: relative;
                        top: -40px;
                        width: 180px;
                        height: 180px;  
                        background: rgb(15, 12, 12); 
                        box-shadow: 0 15px 50px var(--tree-background-dark);
                            }
                    .dato{

                    }
                }
   
                }

    }






// .card{
//     width: 310px;
//    height: 350px
//0.1rem solid rgba(0,0,0,0.6)
// }





.theme-Moon{
    background:var(--background-dark);
     color:var( --frist-color-text-dark);
      // Css Entrada start
    .entrada{
            .front{
                    font-family: 'Racing Sans One', cursive;}
            .front2 {
                     font-family: 'Ceviche One', cursive;
                     color:  rebeccapurple}
            }
             // Css Entrada end
            // Css Menu start
    .menu{
           background:var(--two-background-dark);
           ul li a{
           color: #fff;
           font-family: 'Roboto', sans-serif;
           font-weight: 600;}
           .select {background:var(--two-background-dark);}
           .active{color:  rebeccapurple !important}
           .botton-toggel-menu{
                               border-color: #fff ;
                               background: rebeccapurple;
                               }
           }
}
             // Css Menu End
            //Css Card Start
    .container-card{
   
            .card{
                width: 300px;
                height: 350px;  
                background:var(--two-background-dark);
                display: flex;
                align-items: center;
            
                .boxImg{
                position: relative;
                top: -40px;
                    width: 180px;
                    height: 180px;  
                    background: rgb(15, 12, 12); 
                    box-shadow: 0 15px 50px var(--tree-background-dark);
                }
                .titleName{
                    font-family: 'Ceviche One', cursive;
                    color:  rebeccapurple
                
                }


            }




         }   

