
.font-Racing { font-family: 'Racing Sans One', cursive};
.font-Ceviche {font-family: 'Ceviche One', cursive};
.font-Roboto { font-family: 'Roboto', sans-serif;
font-weight: 600

};





.theme-Moon{
color:#64ff66;
background: #eb0808;
}
.theme-Sun{

}



#toggle
{
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    border-radius: 160px;
    background: #222;
}